* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
}

#timer {
  width: 100%;
  height: 100%;
  position: fixed;
}

#timer svg {
  transform: scaleX(-1);
  fill: none;
}

#timer circle {
  stroke-width: 7px;
  stroke: grey;
}

#timer path {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 100ms linear all;
  stroke: currentColor;
}

#controls {
  width: 100%;
  height: 100%;
  position: fixed;
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 1em;
}

#controls input {
  width: 50%;
  font: inherit;
}

#controls button {
  font: inherit;
}
