* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #000;
}

#timer {
  width: 100%;
  height: 100%;
  position: fixed;
}

#timer svg {
  transform: scaleX(-1);
  fill: none;
}

#timer circle {
  stroke-width: 7px;
  stroke: grey;
}

#timer path {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 100ms linear all;
  stroke: currentColor;
}

#controls {
  width: 100%;
  height: 100%;
  position: fixed;
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 1em;
}

#controls input,
#controls span {
  width: 50%;
  font: inherit;
  border: 1px solid transparent;
  outline: none;
  background: #000;
  color: #fff;
  text-align: center;
}

#controls input {
  border-color: #0066ff;
}

#controls button {
  font: inherit;
  font-size: 75%;
  outline: none;
  border: none;
  padding: 3px 12px;
  background: #0066ff;
  border-bottom: 4px solid #004cbd;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

#controls button:active {
  border-bottom: none;
}
